@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";

@import "node_modules/nhsuk-frontend/packages/components/button/button";
@import "node_modules/nhsuk-frontend/packages/components/input/input";
@import "node_modules/nhsuk-frontend/packages/components/hint/hint";

.gp2gp-organisation-details {
  &__name {
    position: relative;
    padding-right: 12px;

    &:after {
      content: "";
      border-right: 4px solid #212b32;
      height: 100%;
      padding-left: 12px;
    }
  }

  &__address-line {
    display: block;
  }
}
