# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# gatsby files
.cache/
public

# Mac files
.DS_Store

# IntelliJ directory
.idea/

# Metrics
src/data/metrics