# Logs
dashboard/npm-debug.log*
dashboard/audit-output.txt

# Dependency directories
dashboard/node_modules/

# Optional npm cache directory
.npm

# gatsby files
.cache/
dashboard/public

# Mac files
.DS_Store

# IntelliJ directory
.idea/
*.iml

# Organisation data
dashboard/src/data/organisations/

# Cypress artifacts
dashboard/e2e/screenshots/
dashboard/e2e/videos/
dashboard/e2e/downloads/

*build/
*dist/
*venv/*
*.mypy_cache/
*.pyc
*.egg-info
*.tox
gp2gp_reports_generator.egg-info
.coverage
audit-output.txt
typings
gp2gp_examples.md