@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";
@import "node_modules/nhsuk-frontend/packages/core/settings/colours";
@import "node_modules/nhsuk-frontend/packages/core/utilities/_visually-hidden";

.gp2gp-modal {
  background-color: $color_nhsuk-white;
  padding: 2rem;
}

.gp2gp-open-modal {
  background-color: inherit;
  border: none;
}
