@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";
@import "node_modules/nhsuk-frontend/packages/core/settings/colours";
@import "node_modules/nhsuk-frontend/packages/core/utilities/_visually-hidden";
@import "node_modules/nhsuk-frontend/packages/core/utilities/typography";
@import "node_modules/nhsuk-frontend/packages/components/button/button";

.gp2gp-modal {
  background-color: $color_nhsuk-white;
  padding: 1rem 2rem 2rem;
}

.gp2gp-modal__close-btn-container {
  display: flex;
  justify-content: flex-end;
}

.gp2gp-modal__close-btn {
  @include nhsuk-link-style-default;
  @extend .nhsuk-u-font-size-19;
  background-color: inherit;
  border: none;
}

.gp2gp-modal__content {
  padding-top: 1rem;
}

.gp2gp-open-modal-btn {
  background-color: inherit;
  border: none;
  align-self: center;
  min-width: 44px;
  min-height: 44px;

  &:focus,
  &:focus-visible {
    background-color: $nhsuk-focus-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    outline: none;
  }

  &:focus .gp2gp-question-mark-icon {
    fill: $nhsuk-focus-text-color;
  }
}
