@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";
@import "node_modules/nhsuk-frontend/packages/core/utilities/typography";

.gp2gp-emphasis-box {
  border-left: 7px solid;
  border-left-color: #4c90ce;
  background-color: #d4e4f3;
  overflow-y: auto;
  padding: 20px;
  margin: 0.5rem 0 2rem;

  &__heading {
    @extend .nhsuk-u-font-size-19;
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
  }

  p {
    margin: 0;
  }
}
