@import "node_modules/nhsuk-frontend/packages/core/settings/colours";

.gp2gp-practice-table {
  .nhsuk-table__col-0 {
    border-right: 2px solid $color_nhsuk-grey-4;
    max-width: 150px;
    white-space: initial;
  }

  .nhsuk-table__col,
  .nhsuk-table__cell {
    vertical-align: bottom;
    text-align: right;
  }
}

.gp2gp-metrics-table {
  background-color: $color_nhsuk-white;
  padding: 1rem 1rem 2rem;

  .nhsuk-table__col,
  .nhsuk-table__cell {
    white-space: initial;
    vertical-align: bottom;
    text-align: right;
  }

  .nhsuk-table__col-0,
  .nhsuk-table__row .nhsuk-table__cell:first-child {
    text-align: left;
    min-width: 200px;
  }

  .nhsuk-table__col-1 {
    border-right: 2px solid $color_nhsuk-grey-4;
    white-space: initial;
  }
}
