@import "node_modules/nhsuk-frontend/packages/core/settings/colours";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";

// delete this file when cleaning up showHistoricalData toggle
.gp2gp-practice-table {
  .nhsuk-table__col,
  .nhsuk-table__cell,
  .nhsuk-table__row .nhsuk-table__cell:first-child {
    text-align: right;
  }

  .nhsuk-table__col-0 {
    border-right: 2px solid $color_nhsuk-grey-4;
    max-width: 150px;
  }
}
