@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";

@import "node_modules/nhsuk-frontend/packages/components/error-message/error-message";

.gp2gp-practice-search {
  margin: 3rem 0 4rem;

  .nhsuk-label {
    margin-bottom: 0;
  }

  .nhsuk-hint {
    margin-top: 0.8rem;
  }

  &__button {
    display: block !important;
  }
}

.gp2gp-no-js {
  margin: 1rem 0;
  font-weight: bold;
}
