@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";

@import "node_modules/nhsuk-frontend/packages/components/error-message/error-message";

.gp2gp-practice-search {
  .nhsuk-label {
    margin-bottom: 0;
  }

  .nhsuk-hint {
    margin-top: 4px;
  }

  &__button {
    display: block !important;
  }
}
