@import "node_modules/nhsuk-frontend/packages/nhsuk";

.gp2gp-practice-details {
  &__name {
    position: relative;
    padding-right: 12px;

    &:after {
      content: "";
      border-right: 4px solid #212b32;
      height: 100%;
      padding-left: 12px;
    }
  }

  &__address-line {
    display: block;
  }
}
