@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";

@import "node_modules/nhsuk-frontend/packages/components/input/input";

.react-autosuggest__container {
  max-width: 40rem;
}

.react-autosuggest__input {
  @extend .nhsuk-input;
  padding: 1.3rem 0;
  padding-left: 1rem;
  margin: 2px 0;
}

.react-autosuggest__input--error {
  @extend .react-autosuggest__input;
  @extend .nhsuk-input--error;
}

.react-autosuggest__input--focused {
  margin: 0px;
}

.react-autosuggest__suggestions-container {
  border-color: transparent;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  max-width: inherit;
  max-height: 24rem;
  overflow: scroll;
  z-index: 5;
  padding-left: 0;
  width: 100%;
  border: 2px solid $nhsuk-form-border-color;
}

.react-autosuggest__suggestions-list {
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  border-top: none;
}

.react-autosuggest__suggestion {
  background-color: $color_nhsuk-white;
  color: $nhsuk-text-color;
  border-top: 1px solid $nhsuk-border-color;
  border-bottom: 1px solid $nhsuk-border-color;
  list-style: none;
  padding: 0.5rem 0 0.5rem 1.6rem;
  margin-bottom: 0;
  cursor: pointer;

  &:last-child {
    border: none;
  }
}

.react-autosuggest__suggestion--highlighted {
  background-color: $color_nhsuk-blue;
  border-color: $color_nhsuk-blue;
  color: white;
}
