@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";
@import "node_modules/nhsuk-frontend/packages/components/tables/tables";
@import "node_modules/nhsuk-frontend/packages/core/settings/colours";
@import "node_modules/nhsuk-frontend/packages/core/utilities/_visually-hidden";

.gp2gp-table {
  @extend .nhsuk-table-responsive;
  @extend .nhsuk-table;

  td,
  th {
    padding-left: nhsuk-spacing(2);
    padding-right: nhsuk-spacing(3);
    white-space: initial;
    vertical-align: bottom;
    text-align: right;
  }

  .nhsuk-table__col-0 {
    min-width: 11rem;
    text-align: left;
  }
}

.gp2gp-table-with-extra {
  @extend .nhsuk-table-responsive;
  @extend .nhsuk-table;

  td,
  th {
    padding-left: nhsuk-spacing(2);
    padding-right: nhsuk-spacing(2);
    white-space: initial;
    vertical-align: bottom;
    text-align: right;

    @include mq($from: tablet, $until: 840px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .nhsuk-table__col-0 {
    text-align: left;
  }
}

.gp2gp-table-with-extra__header {
  display: flex;
}

.gp2gp-table-with-extra__header-title {
  padding-right: 0.2rem;
}

.gp2gp-table-with-extra .gp2gp-table-with-extra__cell {
  padding-right: 54px;

  @include mq($until: desktop) {
    align-items: center;
    padding-right: nhsuk-spacing(2);
  }
}

.nhs-table__header_cell {
  @extend td;
  font-weight: $nhsuk-font-normal;
}

.sorted {
  background-color: $color_nhsuk-grey-5;
}
