@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";

@import "node_modules/nhsuk-frontend/packages/components/input/input";
@import "node_modules/nhsuk-frontend/packages/core/styles/typography";
@import "node_modules/nhsuk-frontend/packages/core/utilities/spacing";

.react-autosuggest__container {
  max-width: 40rem;
  margin-right: 3rem;
  position: relative;
}

.react-autosuggest__input {
  @extend .nhsuk-input;
  padding: 0.7rem 0;
  padding-left: 1rem;
  height: auto;

  &:focus {
    border: 2px solid $nhsuk-focus-text-color;
    box-shadow: inset 0 0 0 2px $nhsuk-focus-text-color,
      0 0 0 4px $nhsuk-focus-color;
    -webkit-box-shadow: inset 0 0 0 2px $nhsuk-focus-text-color,
      0 0 0 4px $nhsuk-focus-color;
    -moz-box-shadow: inset 0 0 0 2px $nhsuk-focus-text-color,
      0 0 0 4px $nhsuk-focus-color;
  }
}

.react-autosuggest__input--error {
  @extend .react-autosuggest__input;

  border: 2px solid $nhsuk-error-color;
  box-shadow: inset 0 0 0 2px $nhsuk-error-color;
  -webkit-box-shadow: inset 0 0 0 2px $nhsuk-error-color;
  -moz-box-shadow: inset 0 0 0 2px $nhsuk-error-color;
}

.react-autosuggest__suggestions-container {
  border-color: transparent;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  left: 0;
  right: 0;
  max-width: inherit;
  max-height: 24rem;
  overflow: scroll;
  z-index: 5;
  padding-left: 0;
  width: 100%;
  margin-top: -2px;
  border: 2px solid $nhsuk-form-border-color;
  background-color: $color_nhsuk-white;
  color: $nhsuk-text-color;
}

.react-autosuggest__suggestions-list {
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  border-top: none;
}

.react-autosuggest__suggestion {
  border-bottom: 2px solid $nhsuk-border-color;
  list-style: none;
  padding: 0.5rem 1rem 0.5rem 1.6rem;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: bolder;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $color_nhsuk-blue;
  border-color: $color_nhsuk-blue;
  color: $color_nhsuk-white;
}

.text-match--highlighted {
  background-color: transparent;
  font-weight: normal;
  color: inherit;
}

.react-autosuggest__section-title {
  @extend .nhsuk-body-s;
  @extend .nhsuk-u-margin-bottom-1;
  @extend .nhsuk-u-margin-top-2;
  @extend .nhsuk-u-margin-left-3;
}
