@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";
@import "node_modules/nhsuk-frontend/packages/components/tables/tables";

.gp2gp-table {
  @extend .nhsuk-table-responsive;
  @extend .nhsuk-table;
  padding-bottom: 3rem;
}

.hide-caption {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
