@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";
@import "node_modules/nhsuk-frontend/packages/components/tables/tables";

.gp2gp-table {
  @extend .nhsuk-table-responsive;
  @extend .nhsuk-table;
  padding-bottom: 3rem;

  .nhsuk-table__col,
  .nhsuk-table__cell {
    vertical-align: bottom;
    text-align: right;
  }
}
