@import "node_modules/nhsuk-frontend/packages/core/all";
@import "node_modules/nhsuk-frontend/packages/components/breadcrumb/breadcrumb";

.gp2gp-nhsuk-breadcrumb {
  background-color: transparent;
  padding-top: 20px;
}

.app-homepage-content {
  @extend .nhsuk-main-wrapper;
}

.app-homepage.nhsuk-main-wrapper {
  padding-top: 0;
}

.nhsuk-header__container {
  padding-left: 0;

  .gp2gp-header__link {
    @include mq($until: tablet) {
      display: block;
    }
  }
}

